.navbar {
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100svw;
  height: 4rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.icon {
  flex-shrink: 0;
}

.subjectname{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.accountMenu{
    position: absolute;
    top: 40px;
    right: 16px;
    background-color: var(--md-sys-color-surface-container-highest-dark);
    color: var(--md-sys-color-on-surface-dark);
    min-width: 100px;
    box-shadow: 5px 5px 5px var(--md-sys-color-shadow-light);
    padding: 8px 12px;
    border-radius: 4px;
}

.accountMenuItem{
    height: 3rem;
}
