.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 4rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.icon{
    flex-shrink: 0;
}

.subjectname{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.accountmenu{
    position: absolute;
    top: 40px;
    right: 16px;
    background-color: #393336;
    color: #cdc4c7;
    min-width: 100px;
    text-align: center;
    box-shadow: 5px 5px 5px #000000;
    padding: 5px 2px;
}

.accountmenuitem{
    max-height: 3rem;
}
