:root {
  --md-source: #863872;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #23001c;
  --md-ref-palette-primary5: #280020;
  --md-ref-palette-primary6: #2c0024;
  --md-ref-palette-primary10: #3a0030;
  --md-ref-palette-primary12: #410036;
  --md-ref-palette-primary17: #510643;
  --md-ref-palette-primary20: #590f4a;
  --md-ref-palette-primary22: #5f154f;
  --md-ref-palette-primary24: #641a54;
  --md-ref-palette-primary25: #671d56;
  --md-ref-palette-primary30: #752963;
  --md-ref-palette-primary35: #83356f;
  --md-ref-palette-primary40: #91417c;
  --md-ref-palette-primary50: #ae5a96;
  --md-ref-palette-primary60: #cb73b1;
  --md-ref-palette-primary70: #e98dcc;
  --md-ref-palette-primary80: #ffade3;
  --md-ref-palette-primary87: #ffcbeb;
  --md-ref-palette-primary90: #ffd8ee;
  --md-ref-palette-primary92: #ffe0f1;
  --md-ref-palette-primary94: #ffe8f3;
  --md-ref-palette-primary95: #ffecf5;
  --md-ref-palette-primary96: #fff0f6;
  --md-ref-palette-primary98: #fff8f9;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #190814;
  --md-ref-palette-secondary5: #1c0b17;
  --md-ref-palette-secondary6: #1f0e1a;
  --md-ref-palette-secondary10: #281622;
  --md-ref-palette-secondary12: #2c1a26;
  --md-ref-palette-secondary17: #382431;
  --md-ref-palette-secondary20: #3f2a37;
  --md-ref-palette-secondary22: #432e3c;
  --md-ref-palette-secondary24: #483340;
  --md-ref-palette-secondary25: #4b3543;
  --md-ref-palette-secondary30: #57404e;
  --md-ref-palette-secondary35: #634c5a;
  --md-ref-palette-secondary40: #705766;
  --md-ref-palette-secondary50: #8a707f;
  --md-ref-palette-secondary60: #a58999;
  --md-ref-palette-secondary70: #c0a3b4;
  --md-ref-palette-secondary80: #ddbecf;
  --md-ref-palette-secondary87: #f1d1e3;
  --md-ref-palette-secondary90: #fadaeb;
  --md-ref-palette-secondary92: #ffe0f1;
  --md-ref-palette-secondary94: #ffe8f3;
  --md-ref-palette-secondary95: #ffecf5;
  --md-ref-palette-secondary96: #fff0f6;
  --md-ref-palette-secondary98: #fff8f9;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #200600;
  --md-ref-palette-tertiary5: #240800;
  --md-ref-palette-tertiary6: #270a01;
  --md-ref-palette-tertiary10: #321204;
  --md-ref-palette-tertiary12: #371607;
  --md-ref-palette-tertiary17: #432010;
  --md-ref-palette-tertiary20: #4b2716;
  --md-ref-palette-tertiary22: #502b1a;
  --md-ref-palette-tertiary24: #562f1e;
  --md-ref-palette-tertiary25: #583120;
  --md-ref-palette-tertiary30: #653c2a;
  --md-ref-palette-tertiary35: #734835;
  --md-ref-palette-tertiary40: #81533f;
  --md-ref-palette-tertiary50: #9d6b56;
  --md-ref-palette-tertiary60: #b9856e;
  --md-ref-palette-tertiary70: #d79f87;
  --md-ref-palette-tertiary80: #f4b9a0;
  --md-ref-palette-tertiary87: #ffd0bd;
  --md-ref-palette-tertiary90: #ffdbcd;
  --md-ref-palette-tertiary92: #ffe2d7;
  --md-ref-palette-tertiary94: #ffe9e2;
  --md-ref-palette-tertiary95: #ffede7;
  --md-ref-palette-tertiary96: #fff1ec;
  --md-ref-palette-tertiary98: #fff8f6;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #110d0f;
  --md-ref-palette-neutral5: #141012;
  --md-ref-palette-neutral6: #161214;
  --md-ref-palette-neutral10: #1f1a1d;
  --md-ref-palette-neutral12: #231e21;
  --md-ref-palette-neutral17: #2e292b;
  --md-ref-palette-neutral20: #342f31;
  --md-ref-palette-neutral22: #393336;
  --md-ref-palette-neutral24: #3d383a;
  --md-ref-palette-neutral25: #403a3c;
  --md-ref-palette-neutral30: #4b4548;
  --md-ref-palette-neutral35: #575153;
  --md-ref-palette-neutral40: #635d5f;
  --md-ref-palette-neutral50: #7d7578;
  --md-ref-palette-neutral60: #978f92;
  --md-ref-palette-neutral70: #b2a9ac;
  --md-ref-palette-neutral80: #cdc4c7;
  --md-ref-palette-neutral87: #e1d7db;
  --md-ref-palette-neutral90: #eae0e3;
  --md-ref-palette-neutral92: #f0e6e9;
  --md-ref-palette-neutral94: #f6ebee;
  --md-ref-palette-neutral95: #f9eef1;
  --md-ref-palette-neutral96: #fbf1f4;
  --md-ref-palette-neutral98: #fff8f9;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #140c11;
  --md-ref-palette-neutral-variant5: #170e14;
  --md-ref-palette-neutral-variant6: #191116;
  --md-ref-palette-neutral-variant10: #22191e;
  --md-ref-palette-neutral-variant12: #261d22;
  --md-ref-palette-neutral-variant17: #31272d;
  --md-ref-palette-neutral-variant20: #382d33;
  --md-ref-palette-neutral-variant22: #3c3238;
  --md-ref-palette-neutral-variant24: #41363c;
  --md-ref-palette-neutral-variant25: #43383e;
  --md-ref-palette-neutral-variant30: #4f444a;
  --md-ref-palette-neutral-variant35: #5b4f56;
  --md-ref-palette-neutral-variant40: #675b61;
  --md-ref-palette-neutral-variant50: #81737a;
  --md-ref-palette-neutral-variant60: #9b8d94;
  --md-ref-palette-neutral-variant70: #b6a7ae;
  --md-ref-palette-neutral-variant80: #d2c2ca;
  --md-ref-palette-neutral-variant87: #e7d6dd;
  --md-ref-palette-neutral-variant90: #efdee6;
  --md-ref-palette-neutral-variant92: #f5e4eb;
  --md-ref-palette-neutral-variant94: #fbe9f1;
  --md-ref-palette-neutral-variant95: #feecf4;
  --md-ref-palette-neutral-variant96: #fff0f6;
  --md-ref-palette-neutral-variant98: #fff8f9;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #91417c;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffd8ee;
  --md-sys-color-on-primary-container-light: #3a0030;
  --md-sys-color-primary-fixed-light: #ffd8ee;
  --md-sys-color-on-primary-fixed-light: #3a0030;
  --md-sys-color-primary-fixed-dim-light: #ffade3;
  --md-sys-color-on-primary-fixed-variant-light: #752963;
  --md-sys-color-secondary-light: #705766;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #fadaeb;
  --md-sys-color-on-secondary-container-light: #281622;
  --md-sys-color-secondary-fixed-light: #fadaeb;
  --md-sys-color-on-secondary-fixed-light: #281622;
  --md-sys-color-secondary-fixed-dim-light: #ddbecf;
  --md-sys-color-on-secondary-fixed-variant-light: #57404e;
  --md-sys-color-tertiary-light: #81533f;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffdbcd;
  --md-sys-color-on-tertiary-container-light: #321204;
  --md-sys-color-tertiary-fixed-light: #ffdbcd;
  --md-sys-color-on-tertiary-fixed-light: #321204;
  --md-sys-color-tertiary-fixed-dim-light: #f4b9a0;
  --md-sys-color-on-tertiary-fixed-variant-light: #653c2a;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1f1a1d;
  --md-sys-color-outline-light: #81737a;
  --md-sys-color-inverse-on-surface-light: #f9eef1;
  --md-sys-color-inverse-surface-light: #342f31;
  --md-sys-color-inverse-primary-light: #ffade3;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #91417c;
  --md-sys-color-outline-variant-light: #d2c2ca;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff8f9;
  --md-sys-color-on-surface-light: #1f1a1d;
  --md-sys-color-surface-variant-light: #efdee6;
  --md-sys-color-on-surface-variant-light: #4f444a;
  --md-sys-color-surface-container-highest-light: #eae0e3;
  --md-sys-color-surface-container-high-light: #f0e6e9;
  --md-sys-color-surface-container-light: #f6ebee;
  --md-sys-color-surface-container-low-light: #fbf1f4;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #e1d7db;
  --md-sys-color-surface-bright-light: #fff8f9;
  /* dark */
  --md-sys-color-primary-dark: #ffade3;
  --md-sys-color-on-primary-dark: #590f4a;
  --md-sys-color-primary-container-dark: #752963;
  --md-sys-color-on-primary-container-dark: #ffd8ee;
  --md-sys-color-primary-fixed-dark: #ffd8ee;
  --md-sys-color-on-primary-fixed-dark: #3a0030;
  --md-sys-color-primary-fixed-dim-dark: #ffade3;
  --md-sys-color-on-primary-fixed-variant-dark: #752963;
  --md-sys-color-secondary-dark: #ddbecf;
  --md-sys-color-on-secondary-dark: #3f2a37;
  --md-sys-color-secondary-container-dark: #57404e;
  --md-sys-color-on-secondary-container-dark: #fadaeb;
  --md-sys-color-secondary-fixed-dark: #fadaeb;
  --md-sys-color-on-secondary-fixed-dark: #281622;
  --md-sys-color-secondary-fixed-dim-dark: #ddbecf;
  --md-sys-color-on-secondary-fixed-variant-dark: #57404e;
  --md-sys-color-tertiary-dark: #f4b9a0;
  --md-sys-color-on-tertiary-dark: #4b2716;
  --md-sys-color-tertiary-container-dark: #653c2a;
  --md-sys-color-on-tertiary-container-dark: #ffdbcd;
  --md-sys-color-tertiary-fixed-dark: #ffdbcd;
  --md-sys-color-on-tertiary-fixed-dark: #321204;
  --md-sys-color-tertiary-fixed-dim-dark: #f4b9a0;
  --md-sys-color-on-tertiary-fixed-variant-dark: #653c2a;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1f1a1d;
  --md-sys-color-on-background-dark: #eae0e3;
  --md-sys-color-outline-dark: #9b8d94;
  --md-sys-color-inverse-on-surface-dark: #1f1a1d;
  --md-sys-color-inverse-surface-dark: #eae0e3;
  --md-sys-color-inverse-primary-dark: #91417c;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffade3;
  --md-sys-color-outline-variant-dark: #4f444a;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #161214;
  --md-sys-color-on-surface-dark: #cdc4c7;
  --md-sys-color-surface-variant-dark: #4f444a;
  --md-sys-color-on-surface-variant-dark: #d2c2ca;
  --md-sys-color-surface-container-highest-dark: #393336;
  --md-sys-color-surface-container-high-dark: #2e292b;
  --md-sys-color-surface-container-dark: #231e21;
  --md-sys-color-surface-container-low-dark: #1f1a1d;
  --md-sys-color-surface-container-lowest-dark: #110d0f;
  --md-sys-color-surface-dim-dark: #161214;
  --md-sys-color-surface-bright-dark: #3d383a;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}
